<!DOCTYPE html>
<html>
<head>

  <link rel="shortcut icon" href="/favicon.ico">

  <!-- Le styles -->
  <link href="/css/cardoctor.css" rel="stylesheet">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="well well-lg" style="margin-top:10px;">
          <h1 class="text-center">Car Dealer</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="alert">
          <h1 class="text-center">You make the trades. We'll do the paperwork.</h1>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="page-header">
          <h1>How it works.</h1>
          <h4>A gentleman walks in and he want's the exact model you have but in black. You only have white. You quickly pick up the phone and find a local dealer who has it and settle on a trade. Next day your customer walks in to pick up his black car. You're an amazing salesman!  Few days later the bank arrives to do monthly inventory check and can't find the black car.  DOH! You forgot to do the paperwork.</h4>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="jumbotron text-center">
          <p class="text-left">
            I fix cars while sleeping.
          </p>
          <p class="text-left">
            Seriously! I'm a cars best friend.
          </p>
          <p class="text-left">
            I provide great customer service.
          </p>
          <a href="/shop/issues">
            <button type="button" class="btn btn-primary btn-lg">
              <span class="glyphicon glyphicon-star"></span> I'm a Repair Shop
            </button>
          </a>
        </div>
      </div>
      <div class="col-md-6">
        <div class="jumbotron text-center">
          <p class="text-left">
            I know very little about fixing cars.
          </p>
          <p class="text-left">
            I rarely know what's wrong with the car.
          </p>
          <p class="text-left">
            Calling repair shops is a waste of time.
          </p>
          <a href="/carowner">
            <button type="button" class="btn btn-success btn-lg">
              <span class="glyphicon glyphicon-user"></span> I'm a Car Owner
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>